.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/build

app/build

*.hprof
jdklib/jdklib.iml
.idea/misc.xml
.idea/compiler.xml
app/app.iml

.idea/

*.iml




app/build/outputs/apk/app-debug.apk

*.class

*.apk

app/build/intermediates/

app/build/intermediates/classes/debug/com/wifitalk/Config/AppConfig.class
